.form-signin
    width: 100%
    max-width: initial

.form-login
    background-color: #EDEDED
    padding: 20px
    border-radius: 15px
    border-color: #d2d2d2
    border-width: 5px
    box-shadow: 0 1px 0 #cfcfcf

    h4
        border: 0 solid #fff
        border-bottom-width: 1px
        padding-bottom: 10px
        text-align: center

    .form-control
        border-radius: 10px

    div:last-child
        margin-bottom: 20px

    button
        width: 100%
        margin-bottom: 5px

    a
        text-align: right
        font-size: 10px
        margin-bottom: 10px
