html *
    font-family: 'Montserrat', 'Open Sans', sans-serif
    box-sizing: border-box


body
    background-color: #f9f9f9
    display: flex
    flex-direction: column
    align-items: stretch


#wrap
    margin-bottom: 40px
    flex-grow: 1
    min-height: initial
    padding: 10px
    height: initial

.flex
    display: flex
    justify-content: space-between
    align-items: center

    input
        flex-grow: 1

.v-center
    display: flex
    justify-content: center
    align-items: center
