#myTermTab

    .nav-tabs > li > a
        border: 1px solid lightgray
        border-bottom: 0

    .nav-tabs > li.active > a
        background-color: #eee

    .nav-tabs > li.active
        font-weight: bold
