#bodyText h1
    margin: 25px 0
    margin-bottom: 15px

#bodyText h1.metaTerm
    background: #fff8bf 13px 50% no-repeat
    border: 2px solid #ffd324
    color: #eb830c
    padding: 5px 11px 5px 20px


#bodyText h1.metaTerm::before
    content: ""


#bodyText h1.metaTerm::after
    content: "   (metatérmino)"

// Pestañas

#myTermTab

    .nav-tabs > li > a
        border: 1px solid lightgray
        border-bottom: 0

    .nav-tabs > li.active > a
        background-color: #eee

    .nav-tabs > li.active
        font-weight: bold

    .nav-tabs>li
        padding-bottom: 0px

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover
        background-color: #ddd


// Pestaña del término

#theTerm li
    padding-top: 0
    padding-bottom: 12px

#theTerm li:last-child
    padding-bottom: 0px

#theTerm ul
    padding-top: 10px

#theTerm a[type="button"]
    margin-right: 10px


// Breadcrumb

.breadcrumb
    background-color: #ddd

.breadcrumb>li+li:before
    color: black
    content: " | "

.breadcrumb>li:last-child
    float: right

.breadcrumb>li:last-child:before
    content: ""


// Term

.editable_term,
form.editable
    display: flex
    width: 100%
    flex-wrap: wrap
    margin-bottom: 20px


.editable_term h3,
.editable_term textarea,
.editable_term input
    flex-grow: 1


// Notas

#notas
    word-wrap: break-word
