html * {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header>a {
    padding: 20px;
}

@media (max-width: 425px) {
    .header h1 {
        font-size: 16px;
    }
}

.header a:hover,
.header a:focus {
    text-decoration: none;
}

/* navbar */

.navbar {
    min-height: initial;
}

.navbar .container-fluid {
    background-color: #193848;
    border: 0;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.navbar .toggle {
    display: inline-block;
    color:  white;
    padding: 1em;
    vertical-align: middle;
}

.navbar .link {
    display: block;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.navbar .brand {
    display: inline-block;
    width: inherit;
    height: 50px;
    text-align: left;
    padding: 0;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: stretch;
    border-right: 10px solid #193848;
    border-left: 10px solid #193848;
}

.navbar .brand input,
.navbar .brand button {
    background-color: #4E87C0;
    border: 0;
    padding: 1em;
    border-radius: 0;
    outline: 0;
    color: white;
}

.navbar .link:hover,
.navbar .link:active,
.navbar .brand:hover,
.navbar .brand:active,
.open>.dropdown-toggle.btn-info {
    background: #4E87C0;
}

.navbar .dropdown,
.navbar .dropdown:visited,
.navbar .dropdown:hover {
    color:  white;
}

.link-dropdown {
    height: 100%;
}

@media (min-width: 816px) {
    .navbar .container-fluid {
        flex-flow: row;
    }

    .navbar .section {
        display: flex;
    }

    .navbar .section-right {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .navbar .link {
        width: auto;
    }

    .navbar .toggle {
        display: none;
    }

    .navbar .dropdown-menu-right .dropdown a.dropdown-toggle {
        padding-left: 10px;
    }
}

.navbar > div > div {
    display: none;
    @media (min-width: 816px) {
        display: flex;
    }
}

.navbar > div > div.search {
    display: flex;
}

.navbar .dropdown-menu {
    padding: 5px 10px;
    border-radius: 0;
    border: 1px solid rgba(25, 56, 72, .5)
}

.navbar .dropdown-menu li a {
    padding: 5px 0px;
}

.navbar .dropdown-menu .dropdown a {
    padding: 5px 10px 5px 0px;
}

.navbar .dropdown-menu-right .dropdown a {
    padding: 5px 0px 5px 0px;
}

@media (max-width: 815px) {
    .navbar.active .toggle {
        background: seagreen;
        color: white;
    }

    .navbar.active > div > div {
        display: block;
    }

    .navbar.active div.section-left {
        margin-top: 10px;
    }

    .navbar > div > div.search {
        display: flex;
    }

    .navbar .search form,
    .navbar .search input {
        flex-grow: 1;
    }

    .navbar .link-hidden {
        display: none;
    }

    .dropdown-menu-change {
        right: 0;
        left: auto;
    }
}

.navbar .dropdown-menu-right .dropdown a {
    padding: 5px 10px 5px 0px;
}

.navbar .dropdown-menu>.dropdown-submenu>.dropdown-menu>li> a {
    padding-left: 0px;
}

.navbar-inverse {
    background-color: #193848;
    border-radius: 0px;
}

/* CONTENT */

#wrap {
    margin-bottom: 40px;
    flex-grow: 1;
    min-height: initial;
    padding: 10px;
    height: initial;
}

.form-signin {
    width: 100%;
    max-width: initial;
}

.nav-tabs > li > a {
    border: 1px solid lightgray;
    border-bottom: 0;
}

-#myTermTab.nav-tabs > li.active > a {
    background-color: #eee;
}

.nav-tabs > li.active {
    font-weight: bold;
}

.dropdown-submenu>.dropdown-menu {
    width: 270px;
}

.flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.flex input {
    flex-grow: 1;
}

fieldset h3 {
    margin: 15px -15px 25px;
}

fieldset .btn {
    font-size: 14px;
}

.sobre {
    border-bottom: 0px;
}

.sobre h1 {
    margin-bottom: 30px;
}

.sobre .flex {
    border-bottom: 1px solid #36657d;
    padding: 10px 0px 10px 0px;
    align-items: stretch;
}

.sobre dt,
.sobre dd {
    padding: 0px 10px;
}

.sobre dt {
    width: 30%;
    background-color: transparent;
    color: #36657d;
    text-align: right;
}

.sobre .flex dd {
    width: 70%;
    flex-grow: 1;
    text-align: left;
}

.sobre .label {
    font-size: 14px;
    font-weight: lighter;
}

@media (max-width: 425px) {
    .sobre .flex {
        display: block;
    }
    .sobre dt,
    .sobre .flex dd {
        width: 100%;
    }
    .sobre dt {
        text-align: left;
        margin-bottom: 10px;
    }
}

#notas {
    word-wrap: break-word;
}

.breadcrumb>li+li:before {
    color: black;
    content: " | ";
}

.nav-tabs>li {
    padding-bottom: 0px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #ddd;
}

.editable_term,
form.editable {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.editable_term h3,
.editable_term textarea,
.editable_term input {
    flex-grow: 1;
}

.breadcrumb {
    background-color: #ddd;
}

#bodyText h1 {
    margin-bottom: 15px;
}

#bodyText h1.metaTerm {
    background: #fff8bf 13px 50% no-repeat;
    border: 2px solid #ffd324;
    color: #eb830c;
    padding: 5px 11px 5px 20px;
}

#bodyText h1.metaTerm::before {
    content: "";
}

#bodyText h1.metaTerm::after {
    content: "   (metatérmino)";
}

#theTerm li {
    padding-top: 0;
    padding-bottom: 12px;
}

#theTerm li:last-child {
    padding-bottom: 0px;
}

#theTerm ul {
    padding-top: 10px;
}

#theTerm a[type="button"] {
    margin-right: 10px;
}

#theTerm li a:nth-child(4) {
    padding-left: 10px;
}

div.upload {
    margin-top: 20px;
}

form.upload {
    display: flex;
}

.upload>* {
    flex-grow: 1;
    flex-basis: 0;
}

#listaLetras li,
#listaBusca li {
    line-height: 35px;
}

/* footer */

footer {
    padding-top: 60px;
    font-size: 16px;
    background-color: white;
}

footer .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

footer a {
    font-weight: 500;
    color: #0695d6;
}

footer img {
    margin-bottom: 20px;
}

footer .leaf form {
    text-align: left;
}

footer p.text-muted {
    font-weight: 300;
}

#arg-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    padding:  15px;
    color: #767676;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", "Arial", "Helvetica";
    border-top: 1px solid #EEE;
}

#arg-footer strong {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

#arg-footer img {
    height: 40px;
    margin: 0;
}

.glyphicon-fw {
    width: 2.5em;
    text-align: center;
}

.jumbotron {
    font-size: 21px;
}

.panel {
    padding: 10px;
}

.estado_termino13 {
    color: #4e87c0;
}

.estado_termino14 {
    color: #ef4d3d;
    background-color: rgba(255,67,56,0.1);
    border-radius: 4px;
}

#breadScrumb + .estado_termino14,
#metadataTerm .estado_termino14{
    padding: 10px;
}

#metadataTerm dl {
    overflow: auto;
}

#metadataTerm dt {
    float: left;
    clear: left;
    margin-right: 10px; /* Margin work */
}

#metadataTerm dd {
    display: table-cell;
    padding-left: 10px; /* Padding works */
    margin-left: 100px; /* Margin has no effect in table-cell */
}

.square {
    list-style-type: square;
}

.list h3 {
    margin-bottom: 30px;
    border-bottom: black solid 1px;
}

.square > li {
    margin-bottom: 15px;
}

.circle {
    list-style-type: circle;
}

.box {
    background-color: #cfdbe7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.box-title {
    font-size: 20px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333333;
}

.box-content > * {
    margin-bottom: 10px;
}

.box-content select,
.box-content input[type="text"] {
    height: 50px;
}

.box-content input[type="checkbox"],
.box-content input[type="radio"] {
    transform: scale(2);
    margin: 15px;
}

.box-content .form-group {
    display: flex;
    align-items: baseline;
}
