@charset "UTF-8";
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 10px;
  margin-bottom: 40px; }
  .about > div {
    color: white;
    padding: 15px;
    background-color: #193848; }
    .about > div:nth-child(3n+2) {
      background-color: #3F92D2; }
    .about > div:nth-child(3n+3) {
      background-color: #25567B; }
    .about > div.span2 {
      grid-column: span 2; }
    .about > div.span3 {
      grid-column: span 3; }
    .about > div.span5 {
      grid-column: span 5; }
    .about > div.vspan2 {
      grid-row: span 2; }
    .about > div.vspan3 {
      grid-row: span 3; }
    .about > div.vspan4 {
      grid-row: span 4; }
    .about > div.grid {
      display: grid;
      grid-gap: 5px;
      grid-template-rows: repeat(auto-fit, 1fr); }
      .about > div.grid div {
        padding: 10px;
        background-color: white;
        color: #193848;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center; }
        .about > div.grid div p {
          margin-bottom: 0; }
        .about > div.grid div a {
          color: #193848; }
    .about > div h3 {
      padding-bottom: 30px;
      font-weight: 600; }
    .about > div h4 {
      padding-bottom: 20px;
      font-weight: 500; }
    .about > div h5 {
      padding-bottom: 10px;
      font-weight: 400; }
    .about > div ul {
      padding-bottom: 20px; }
    .about > div a {
      color: white; }
    .about > div .btn {
      width: 100%; }
    .about > div.about-title p {
      line-height: 180%;
      text-align: justify; }
      .about > div.about-title p:not(:last-child) {
        padding-bottom: 10px; }
    .about > div .uri {
      font-size: 30px;
      word-break: break-all; }
    .about > div .table-responsive {
      width: 80%;
      max-width: calc(100% - 24px);
      margin: 0 auto;
      overflow-x: hidden; }
      .about > div .table-responsive table {
        table-layout: fixed; }
      .about > div .table-responsive tbody tr:hover {
        color: #193848; }
      .about > div .table-responsive tr,
      .about > div .table-responsive th {
        vertical-align: middle; }
  @media (max-width: 675px) {
    .about > div {
      grid-template-columns: 90%; }
      .about > div.span3, .about > div.span5 {
        grid-column: span 2; }
      .about > div .uri {
        font-size: 20px; } }
  @media (max-width: 500px) {
    .about > div.span2, .about > div.span3 {
      grid-column: span 1; } }

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color: transparent;
  margin-bottom: 35px; }

.pagination a {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border-radius: 8px;
  font-size: 1.2em;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  color: #193848;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center; }

.pagination a:hover {
  background: #ddd;
  color: #444; }

.pagination .active {
  background: #f46353;
  color: white; }

footer {
  font-size: 16px;
  background-color: white; }
  footer a {
    font-weight: 500;
    color: #0695d6; }
  footer img {
    margin-bottom: 20px; }
  footer .leaf form {
    text-align: left; }
  footer p.text-muted {
    font-weight: 300; }

#arg-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background: #FFF;
  padding: 15px;
  color: #767676;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto", "Arial", "Helvetica";
  border-top: 1px solid #EEE; }
  #arg-footer img {
    height: 40px;
    margin: 0 15px; }
  #arg-footer strong {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
    font-family: inherit; }

@media (max-width: 730px) {
  #arg-footer {
    flex-wrap: wrap; }
    #arg-footer span {
      text-align: justify; }
    #arg-footer img {
      margin-top: 10px; } }
.form-signin {
  width: 100%;
  max-width: initial; }

#alta_t .form-group-chk input[type="checkbox"] {
  display: inline-block; }

.form-login {
  background-color: #EDEDED;
  padding: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf; }
  .form-login h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center; }
  .form-login .form-control {
    border-radius: 10px; }
  .form-login div:last-child {
    margin-bottom: 20px; }
  .form-login button {
    width: 100%;
    margin-bottom: 5px;
    font-size: 18px; }
  .form-login a {
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header h1 {
    margin-top: 20px;
    margin-bottom: 20px; }
    @media (max-width: 425px) {
      .header h1 {
        font-size: 16px; } }
  .header > a {
    padding: 20px; }
  .header a:hover,
  .header a:focus {
    text-decoration: none; }

html * {
  font-family: "Roboto", "Open Sans", sans-serif;
  box-sizing: border-box; }

body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

#wrap {
  margin-bottom: 40px;
  flex-grow: 1;
  min-height: initial;
  padding: 10px; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex input {
    flex-grow: 1; }

.v-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.list-title {
  color: #193848;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid #193848; }

.list-content {
  display: flex;
  flex-wrap: wrap; }
  .list-content > a {
    background-color: #193848;
    font-size: 18px;
    color: black;
    border: 3px solid transparent;
    padding: 20px;
    margin: 0 15px 15px 0;
    flex-grow: 1; }
    .list-content > a:nth-child(3n+2) {
      background-color: #193848; }
    .list-content > a:nth-child(3n+3) {
      background-color: #193848; }
    .list-content > a span {
      font-size: 12px; }
    .list-content > a:hover, .list-content > a:focus {
      text-decoration: none;
      background-color: white;
      border: 3px solid #193848; }

.table-content h4 {
  margin-bottom: 20px; }

#listaLetras li,
#listaBusca li {
  line-height: 35px; }

.navbar {
  min-height: initial; }
  .navbar .container-fluid {
    background-color: #193848;
    border: 0;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: column; }
  .navbar .toggle {
    display: inline-block;
    color: white;
    padding: 1em;
    vertical-align: middle; }
  .navbar .link {
    display: block;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    color: white; }
  .navbar .brand {
    display: inline-block;
    width: inherit;
    height: 50px;
    text-align: left;
    padding: 0;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: stretch;
    border-right: 10px solid #193848;
    border-left: 10px solid #193848; }
  .navbar .brand input,
  .navbar .brand button {
    background-color: #4E87C0;
    border: 0;
    padding: 1em;
    border-radius: 0;
    outline: 0;
    color: white; }
  .navbar .link:hover,
  .navbar .link:active,
  .navbar .brand:hover,
  .navbar .brand:active,
  .navbar .open > .dropdown-toggle.btn-info {
    background: #4E87C0; }
  .navbar .dropdown,
  .navbar .dropdown:visited,
  .navbar .dropdown:hover {
    color: white; }
  .navbar .link-dropdown {
    height: 100%; }
  @media (min-width: 871px) {
    .navbar .container-fluid {
      flex-flow: row; }
    .navbar .section {
      display: flex; }
    .navbar .section-right {
      flex-grow: 1;
      justify-content: flex-end; }
    .navbar .link {
      width: auto; }
    .navbar .link .text,
    .navbar .toggle {
      display: none; }
    .navbar .dropdown-menu-right .dropdown a.dropdown-toggle {
      padding-left: 10px; } }
  .navbar > div > div {
    display: none; }
    @media (min-width: 871px) {
      .navbar > div > div {
        display: flex; } }
    .navbar > div > div .search {
      display: flex; }
  .navbar .dropdown-menu {
    padding: 5px 10px;
    border-radius: 0;
    border: 1px solid rgba(25, 56, 72, 0.5); }
    .navbar .dropdown-menu li a {
      padding: 5px 0px;
      outline: 0; }
    .navbar .dropdown-menu .dropdown a {
      padding: 5px 10px 5px 0px; }
  .navbar .dropdown-menu-right .dropdown a {
    padding: 5px 0px 5px 0px; }
  @media (max-width: 870px) {
    .navbar.active .toggle {
      background: seagreen;
      color: white; }
    .navbar.active > div > div {
      display: block; }
    .navbar.active div.section-left {
      margin-top: 10px; }
    .navbar > div > div.search {
      display: flex; }
    .navbar .search form,
    .navbar .search input {
      flex-grow: 1; }
    .navbar .link-hidden,
    .navbar .link .glyphicon {
      display: none; }
    .navbar .dropdown-menu-change {
      right: 0;
      left: auto; } }
  .navbar .dropdown-menu-right .dropdown a {
    padding: 5px 10px 5px 0px; }
  .navbar .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
    padding-left: 0px; }
  .navbar.navbar-inverse {
    background-color: #193848;
    border-radius: 0px; }

.dropdown-submenu > .dropdown-menu {
  width: 270px; }

.relations {
  padding-top: 40px;
  display: flex;
  justify-content: space-between; }
  .relations div {
    flex: 1 0 auto;
    border: 1px solid black; }

.notEquivalent,
.notApplicable,
.isMetaterm,
.estado_termino14 {
  color: #9b0d0d;
  background-color: transparent; }

li .notEquivalent,
li .notApplicable,
li .isMetaterm,
li .estado_termino14 {
  padding: 5px;
  width: 100%; }
  li .notEquivalent:hover,
  li .notApplicable:hover,
  li .isMetaterm:hover,
  li .estado_termino14:hover {
    color: white;
    background-color: #ec2222; }

table tr.notEquivalent:hover, table tr.notApplicable:hover, table tr.isMetaterm:hover, table tr.estado_termino14:hover {
  background-color: #ec2222;
  color: white; }
  table tr.notEquivalent:hover a, table tr.notApplicable:hover a, table tr.isMetaterm:hover a, table tr.estado_termino14:hover a {
    color: white; }

#myTermTab .nav-tabs > li > a {
  border: 1px solid lightgray;
  border-bottom: 0; }
#myTermTab .nav-tabs > li.active > a {
  background-color: #eee; }
#myTermTab .nav-tabs > li.active {
  font-weight: bold; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex input {
  flex-grow: 1; }

fieldset h3 {
  margin: 15px -15px 25px; }

fieldset .btn {
  font-size: 14px; }

#notas {
  word-wrap: break-word; }

.breadcrumb > li + li:before {
  color: black;
  content: " | "; }

.nav-tabs > li {
  padding-bottom: 0px; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #ddd; }

.editable_term,
form.editable {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.editable_term h3,
.editable_term textarea,
.editable_term input {
  flex-grow: 1; }

.breadcrumb {
  background-color: #ddd; }

#bodyText h1 {
  margin-bottom: 15px; }

#bodyText h1.metaTerm {
  background: #fff8bf 13px 50% no-repeat;
  border: 2px solid #ffd324;
  color: #eb830c;
  padding: 5px 11px 5px 20px; }

#bodyText h1.metaTerm::before {
  content: ""; }

#bodyText h1.metaTerm::after {
  content: "   (metatérmino)"; }

#theTerm li {
  padding-top: 0;
  padding-bottom: 12px; }

#theTerm li:last-child {
  padding-bottom: 0px; }

#theTerm ul {
  padding-top: 10px; }

#theTerm a[type="button"] {
  margin-right: 10px; }

#theTerm li a:nth-child(4) {
  padding-left: 10px; }

div.upload {
  margin-top: 20px; }

form.upload {
  display: flex; }

.upload > * {
  flex-grow: 1;
  flex-basis: 0; }

#listaLetras li,
#listaBusca li {
  line-height: 35px; }

.glyphicon-fw {
  width: 2.5em;
  text-align: center; }

.selectlang button {
  background-color: transparent;
  border: 0;
  padding: 15px 14px;
  border-radius: 0; }

.selectlang button:hover {
  background-color: #4E87C0; }

#select-lang .bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: white; }

.jumbotron {
  font-size: 21px; }

.box {
  background-color: #cfdbe7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px; }

.box-title {
  font-size: 20px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333; }

.box-content > * {
  margin-bottom: 10px; }

.box-content select,
.box-content input[type="text"],
.box-content input[type="search"] {
  height: 50px; }

.box-content input[type="checkbox"],
.box-content input[type="radio"] {
  transform: scale(2);
  margin: 15px; }

.box-content .form-group {
  display: flex;
  align-items: baseline; }

/*# sourceMappingURL=local.css.map */
