html * {
    font-family: 'Open Sans', 'Sans Serif';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header>a {
    padding: 10px;
}

@media (max-width: 425px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header h1 {
        font-size: 30px;
        text-align: center;
    }
    .header img {
        margin-bottom: 10px;
    }
}

.header a:hover,
.header a:focus {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #193848;
    border-radius: 0px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-form button {
    color: #193848;
}

.nav-tabs > li > a {
    border: 1px solid lightgray;
    border-bottom: 0;
}

-#myTermTab.nav-tabs > li.active > a {
    background-color: #eee;
}

.nav-tabs > li.active {
    font-weight: bold;
}

.dropdown-submenu>.dropdown-menu {
    width: 270px;
}

.flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.flex input {
    flex-grow: 1;
}

fieldset h3 {
    margin: 15px -15px 25px;
}

fieldset .btn {
    font-size: 14px;
}

.sobre h1 {
    margin-bottom: 30px;
}

.sobre .flex {
    border-bottom: 1px solid #36657d;
    padding: 10px 0px 10px 0px;
    align-items: stretch;
}

.sobre dt,
.sobre dd {
    padding: 0px 10px;
}

.sobre dt {
    width: 30%;
    background-color: white;
    color: #36657d;
    text-align: right;
}

.sobre .flex dd {
    width: 70%;
    flex-grow: 1;
    text-align: left;
}

.sobre .label {
    font-size: 14px;
    font-weight: lighter;
}

@media (max-width: 425px) {
    .sobre .flex {
        display: block;
    }
    .sobre dt,
    .sobre .flex dd {
        width: 100%;
    }
    .sobre dt {
        text-align: left;
        margin-bottom: 10px;
    }
}

#notas {
    word-wrap: break-word;
}
